body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.keyboard-container {
    display: flex;
    flex-direction: column;
}

.keyboard, .numpad {
    display: grid;
    gap: 5px;
    margin-bottom: 20px;
}

.keyboard {
    grid-template-columns: repeat(22, 1fr);
    max-width: 800px;
}

.numpad {
    grid-template-columns: repeat(3, 1fr);
    max-width: 120px;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
}

.double {
    grid-column: span 2;
}

.triple {
    grid-column: span 3;
}

.quadruple {
    grid-column: span 4;
}

.quintuple {
    grid-column: span 5;
}
